
h2{
    background-color:#610766;
    width:200px;
    height:45px;
    border-radius: 5px;
    margin-left:10px;
    font-size: 1.9em;
    color:#ffffff;
    margin:0 auto;
    text-align: center;
    margin-top:140px;
    margin-bottom:40px;
}
h3{
    padding-left:40px;
    padding-top: 10px;
    height:1px;
    
}
#welcometext{
    font-size: 2em;
   float:right;
   
}
.pagetext{
    font-size:2em;
    padding-top:60px;
}
input{
    text-align: center;
    width:70px;
    height:30px;
    margin-top:30px;
    margin-left:720px;
    padding-left:3px;
    
}
#log{
    margin-left:620px;
    margin-top:30px;
}

body{
    background-color:#00585f;
}
.logo{
    
    background-color:#610766;
    width:200px;
    height:45px;
    border-radius: 5px;
    margin-left:10px;
    font-size: 1.9em;
    color:#ffffff;
    text-align: center; 
}
.button{
    background-color:#610766;
    width:120px;
    height:40px;
    border-radius:9px;
    margin-left: 700px;
    margin-top: 40px;
    font-size: 1em;
    color:#ffffff;
    border-style: none;
}
a{
    color:#ffffff;
    text-decoration:none;
}
#logout{
    text-align: center;
    width:65px;
    height:20px;
    background-color:#610766;
    border-radius:9px;
    color:#ffffff;
    border-style: none;
    float:right;
}
.result-text{
    padding-top: 20px;
    font-size:2em;
    text-align:center;
}
#save-button{
    background-color:#610766;
    width:120px;
    height:40px;
    border-radius:9px;
    margin-left: 600px;
    margin-top: 60px;
    font-size: 1em;
    color:#ffffff;
    border-style: none;

}
#export-button{
    background-color:#610766;
    width:120px;
    height:40px;
    border-radius:9px;
    margin-left: 80px;
    margin-top: 60px;
    font-size: 1em;
    color:#ffffff;
    border-style: none;

}
.btm-buttons{
    margin-top:100px;
}